.login-status {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.login-button {
    border: none;
    color: #47164f;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.3em;
    padding: 4px;
}

.login-button:hover {
    color: #ffffff;
    background-color: #47164f;
}

.logout-link {
    display: block;
    color: #ffffff;
    background-color: #47164f;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 5px;
    margin-left: 10px;
    height: 100%;
    text-decoration: none;
}

.logout-link:hover {
    color: #47164f;
    background-color: #ffffff;
}

.login-status-name {
    color: #47164f;
    font-size: 1em;
    line-height: 1.3em;
    padding: 4px;
    margin-left: 10px;
}

@media(max-width:900px){
    .login-status-name {
        max-width: 69px;
        overflow: hidden;
        height: 1em;
    }
}

@media(max-width:380px){
    .login-status-name {
        max-width: 45px;
    }
}